{% extends 'pages/base.jinja' %}

{% block title %} 
    Flask Demo About
{% endblock %}

{% block content %}
    <section id="hero">
        <h1>Flask Demo About</h1>
    </section>

            <p>The About page for Flask Demo</p>
{% endblock %}