{% extends 'pages/base.jinja' %}

{% block title %} 
    Flask Demo Home
{% endblock %}

{% block content %}
    <section id="hero">
        <h1>Flask Demo Home</h1>
    </section>

    <p>The Home page for Flask Demo</p>
{% endblock %}