{% extends 'pages/base.jinja' %}

{% block title %} 
    Flask Demo Test
{% endblock %}

{% block content %}
    <section id="hero">
        <h1>Flask Demo Test</h1> 
    </section>

    
        <p>This is the Test page for Flask Demo</p>
{% endblock %}