section#hero {
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary-background);
}

#rand-num {
    font-size: 10rem;
}